<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Brightflag Code Test</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="js/main.js"></script>
</head>
<body ng-app="bfCodeTest">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">BF Code Test</a>
	</nav>
	<div ng-controller="studentCtrl" class="container">

		<table class="table table-striped">
			<thead>
			<tr>
				<th>Student ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Subjects</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="student in students">
				<td>{{student.studentID}}</td>
				<td>{{student.firstName}}</td>
				<td>{{student.lastName}}</td>
				<td>
					<ul ng-repeat = "subject in student.subjects">
						<li>{{subject.subjectName}}</li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<br>
		<br>
		<!-- Assign student to subject -->
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Assign Student to Subject</h5>
				<br>
					<div ng-if="errorMsg">
						<div class="alert alert-danger" role="alert">
							{{errorMsg}}
						</div>
					</div>
				<br>

				<form name="myForm" ng-submit="postdata(selected_student.studentID,selected_subject.subjectID)">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="formGroupExampleInput">Student</label>
						</div>
						<select class="custom-select" id="formGroupExampleInput" ng-model="selected_student"
								ng-options="student as student.firstName + ' - '  + student.lastName for student in students">
						</select>
					</div>
					<br>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="formGroupExampleInput2">Subject</label>
						</div>
						<select class="custom-select" id="formGroupExampleInput2" ng-model="selected_subject"
								ng-options="subject as subject.subjectName for subject in subjects">
						</select>
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Add Subject</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
